name: Build TiLiA

on:
  workflow_dispatch:
  push:
    # tags:
    #   - "v*"

jobs:
  build:
    name: Build with Nuitka
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    outputs:
      linux-build: ${{ steps.set-path.outputs.path }}
    strategy:
      matrix:
        os: [macos-latest, macos-15-intel, ubuntu-latest, windows-latest]
    env:
      DISPAY: ":99.0"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"

      - name: Setup additional Linux dependencies
        if: runner.os == 'Linux'
        run: |
          ./scripts/linux-setup.sh
          sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &

      - name: Remove problematic brew libs (see Nuitka/Nuitka#2853)
        if: runner.os == 'macOS' && runner.arch != 'ARM64'
        run: |
          brew remove --force --ignore-dependencies openssl@3
          brew cleanup openssl@3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group build

      - name: Build executable
        id: build-exe
        shell: bash
        run: |
          echo "python scripts/deploy.py ${{github.ref_name}} ${{matrix.os}}" | bash

      - name: Test executable [mac]
        if: runner.os == 'macOS'
        shell: bash
        run: |
          brew install coreutils
          export QT_DEBUG_PLUGINS=1
          echo "Checking dependencies"
          echo "gtimeout 10 ${{ steps.build-exe.outputs.out-filename }}" | bash || true

      - name: Test executable [Linux, Windows]
        id: test-exe
        if: runner.os != 'macOS'
        shell: bash
        run: |
          export QT_DEBUG_PLUGINS=1
          echo "Checking dependencies"
          echo "timeout 30 ${{ steps.build-exe.outputs.out-filename }}" | bash || true
          echo "ldd ${{ steps.build-exe.outputs.out-filename }}" | bash
          ls

      - name: Set Linux exe path
        id: set-path
        if: runner.os == 'Linux'
        shell: bash
        run: echo "path=${{ steps.build-exe.outputs.out-filename }}" >> "$GITHUB_OUTPUT"

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: tilia-${{ matrix.os }}
          path: build
          retention-days: 1

  deploy:
    name: Create release
    needs: build
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4

      - name: Download executable
        uses: actions/download-artifact@v4
        with:
          path: build
          pattern: tilia-*
          merge-multiple: true

      - name: Test Linux still works in a clean environment
        continue-on-error: true
        run: |
          ls
          if ((${#${{ needs.build.outputs.linux-build }}[@]})); then
            if echo "timeout 30 ${{ needs.build.outputs.linux-build }}" | bash;
              then echo -e "\033[1;92mLinux works in a clean environment!\033[0m";
            else
              echo -e "\033[1;91mLinux didn't work...\n\tCheck libraries with previous step?\033[0m" &&
              echo "ldd ${{ needs.build.outputs.linux-build }}" | bash || echo "Couldn't get libraries";
            fi;
          fi

      - name: Upload
        uses: "softprops/action-gh-release@v2"
        with:
          tag_name: ${{github.ref_name}}
          make_latest: ${{github.event_name == 'push'}}
          generate_release_notes: true
          files: |
            build/*
