name: Build TiLiA

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build with Nuitka
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    outputs:
      linux-build: ${{ steps.set-path.outputs.path }}
    strategy:
      matrix:
        os: [
          macos-latest,
          macos-15-intel,
          ubuntu-22.04,
          windows-latest
          ]
    env:
      QT_DEBUG_PLUGINS: 1
      QT_QPA_PLATFORM: offscreen

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"

      - name: Setup additional Linux dependencies
        if: runner.os == 'Linux'
        run: |
          chmod +x ./scripts/linux-setup.sh
          ./scripts/linux-setup.sh

      - name: Remove problematic brew libs (see Nuitka/Nuitka#2853)
        if: runner.os == 'macOS' && runner.arch != 'ARM64'
        run: |
          brew remove --force --ignore-dependencies openssl@3
          brew cleanup openssl@3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group build

      - name: Build executable
        id: build-exe
        shell: bash
        run: |
          echo "python scripts/deploy.py ${{github.ref_name}} ${{matrix.os}}" | bash

      - name: Test executable [mac]
        if: runner.os == 'macOS'
        shell: bash
        run: |
          brew install coreutils
          echo "Checking dependencies"
          # test build starts up - should see the output of qt_debug_plugins. the command will kill itself in 10s if everything works. something went wrong if time taken for this command is less than 10s.
          # then zip everything up and delete the original non-zipped file.
          start=$(date +%s)
          echo "gtimeout 10 ${{ steps.build-exe.outputs.out-filepath }}/Contents/MacOS/${{ steps.build-exe.outputs.out-filename }}" | bash || true
          if (($(date +%s) - $start < 10)); then
            echo "::error::Process terminated early! Potential errors in build."
            exit 1
          fi
          zip -r9 ${{ steps.build-exe.outputs.zip-filepath }} ${{ steps.build-exe.outputs.out-filepath }} || true
          rm -rf ${{ steps.build-exe.outputs.out-filepath }}

      - name: Test executable [Windows]
        if: runner.os == 'Windows'
        shell: bash
        run: |
          echo "Checking dependencies"
          # test build starts up - should see the output of qt_debug_plugins. the command will kill itself in 10s if everything works. something went wrong if time taken for this command is not 10s.
          start=$(date +%s)
          echo "timeout 10 ${{ steps.build-exe.outputs.out-filepath }}" | bash || true
          if (($(date +%s) - $start < 10)); then
            echo "::error::Process terminated early! Potential errors in build."
            exit 1
          fi

      - name: Test executable [Linux]
        id: set-path
        if: runner.os == 'Linux'
        shell: bash
        run: |
          echo "path=${{ steps.build-exe.outputs.out-filename }}" >> "$GITHUB_OUTPUT"
          echo "Checking dependencies"
          # test build starts up - should see the output of qt_debug_plugins. the command will kill itself in 10s if everything works. something went wrong if time taken for this command is not 10s.
          start=$(date +%s)
          echo "timeout 10 ${{ steps.build-exe.outputs.out-filepath }}" | bash || true
          if (($(date +%s) - $start < 10)); then
            echo "::error::Process terminated early! Potential errors in build."
            exit 1
          fi

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-exe.outputs.out-filename }}
          path: build/*/exe
          retention-days: 1

  deploy:
    name: Create release
    continue-on-error: true
    needs: build
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    env:
      QT_DEBUG_PLUGINS: 1
      QT_QPA_PLATFORM: offscreen
    steps:
      - uses: actions/checkout@v4

      - name: Download executable
        uses: actions/download-artifact@v4
        with:
          path: build/
          pattern: 'TiLiA-v*'
          merge-multiple: true

      - name: Test Linux still works in a clean environment
        continue-on-error: true
        id: test-linux
        run: |
          if [ -e build/ubuntu/exe/${{ needs.build.outputs.linux-build }} ];
            then
              chmod ugo+x build/ubuntu/exe/${{ needs.build.outputs.linux-build }};
              if echo "timeout 30 build/ubuntu/exe/${{ needs.build.outputs.linux-build }}" | bash;
                then
                  echo "Linux works in a clean environment!";
              else
                echo "Linux didn't work... Check libraries with previous step?";
              fi;
          else
            echo "file not found!";
          fi
          ls build -ltraR |egrep -v '\.$|\.\.|\.:|\.\/|total|^d' | sed '/^$/d' || true

      - name: Upload
        uses: "softprops/action-gh-release@v2"
        with:
          tag_name: ${{github.ref_name}}
          make_latest: ${{github.event_name == 'push'}}
          generate_release_notes: true
          files: |
            build/*/exe/TiLiA-v*
