name: Build TiLiA

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build with Nuitka
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, macos-15-intel, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group build

      - name: Build executable
        shell: bash
        run: |
          $out_filename = "TiLiA-${{github.ref_name}}-${{matrix.os}}"
          echo "OUT_FILENAME=$out_filename"
          python scripts/deploy.py ${{env.OUT_FILENAME}}
          export QT_DEBUG_PLUGINS = 1
          echo "Checking dependencies"
          timeout 10 build/$out_filename

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: Executables
          path: build
          retention-days: 1

  deploy:
    name: Create release
    needs: [build]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4

      - name: Download executable
        uses: actions/download-artfact@v4
        with:
          name: Executables
          path: build

      - name: Upload
        uses: "softprops/action-gh-release@v2"
        with:
          tag_name: ${{github.ref_name}}
          make_latest: ${{github.event_name == 'push'}}
          generate_release_notes: true
          files: |
            build/*
