name: Checks

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - 'docs/**'
      - 'paper/**'
      - '**.md'

  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - 'docs/**'
      - 'paper/**'
      - '**.md'

jobs:
  build:
    name: run tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache
        exclude:
          - os: windows-latest
            python-version: '3.13' # no pyside support
    timeout-minutes: 30
    env:
      QT_QPA_PLATFORM: offscreen

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup additional Linux dependencies
      if: runner.os == 'Linux'
      run: |
        chmod +x ./scripts/linux-setup.sh
        ./scripts/linux-setup.sh

    - name: Install timeout
      if: runner.os == 'macOS'
      run: brew install coreutils

    - uses: actions/cache@v4
      with:
        path: ${{ matrix.path }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
         ${{ runner.os }}-pip-

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install -e . --group testing --group ci-tests

    - name: List installed packages
      run: |
        pip freeze

    - name: Lint with ruff
      run: |
        ruff check
      continue-on-error: true

    - name: Test with pytest
      run: |
        coverage run -m pytest -v -s

    - name: Generate Coverage Report
      run: |
          coverage report -m

    - name: Check Program
      shell: bash
      run: |
        export QT_DEBUG_PLUGINS=1
        echo "Starting GUI..."
        timeout 10 tilia || true
        echo "Starting CLI..."
        timeout 10 tilia -i=cli || true
