name: Nuitka Action Deploy

on: push

jobs:
  build:
    name: Build with Nuitka
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    outputs:
      linux-build: ${{ steps.set-path.outputs.path }}
      release-name: ${{ steps.get-nuitka-args.outputs.release-name}}
    strategy:
      matrix:
        os: [macos-latest, macos-15-intel, ubuntu-latest, windows-latest]
    env:
      DISPAY: ":99.0"

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group build

      - name: Build sdist
        id: get-nuitka-args
        shell: bash
        run: |
          echo "python scripts/deploy2.py --tag-name=${{github.ref_name}} --build-os=${{matrix.os}} --from-git" | bash

      - name: Build Executable
        uses: Nuitka/Nuitka-Action@main
        with: ${{ fromJson(steps.get-nuitka-args.outputs.exe-cmd) }}

      - name: Test executable [mac]
        if: runner.os == 'macOS'
        shell: bash
        run: |
          brew install coreutils
          export QT_DEBUG_PLUGINS=1
          echo "Checking dependencies"
          echo "gtimeout 10 ${{ steps.get-nuitka-args.outputs.out-filename }}" | bash || true
          ls build -ltraR |egrep -v '\.$|\.\.|\.:|\.\/|total|^d' |sed '/^$/d' || true

      - name: Test executable [Linux, Windows]
        id: test-exe
        if: runner.os != 'macOS'
        shell: bash
        run: |
          export QT_DEBUG_PLUGINS=1
          echo "Checking dependencies"
          echo "timeout 30 ${{ steps.get-nuitka-args.outputs.out-filename }}" | bash || true
          echo "ldd ${{ steps.get-nuitka-args.outputs.out-filename }}" | bash
          ls build -ltraR |egrep -v '\.$|\.\.|\.:|\.\/|total|^d' |sed '/^$/d' || true

      - name: Set Linux exe path
        id: set-path
        if: runner.os == 'Linux'
        shell: bash
        run: echo "path=${{ steps.get-nuitka-args.outputs.out-filename }}" >> "$GITHUB_OUTPUT"

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: tilia-${{ matrix.os }}
          path: build
          retention-days: 1
          include-hidden-files: true

  deploy:
    name: Create release
    needs: build
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      # - name: Check-out repository
      #   uses: actions/checkout@v4

      - name: Download executable
        uses: actions/download-artifact@v4
        with:
          path: build
          pattern: tilia-*
          merge-multiple: true

      - name: Test Linux still works in a clean environment
        continue-on-error: true
        run: |
          if ((${#${{ needs.build.outputs.linux-build }}[@]})); then
            if echo "timeout 30 ${{ needs.build.outputs.linux-build }}" | bash;
              then echo -e "\033[1;92mLinux works in a clean environment!\033[0m";
            else
              echo -e "\033[1;91mLinux didn't work...\n\tCheck libraries with previous step?\033[0m" &&
              echo "ldd ${{ needs.build.outputs.linux-build }}" | bash || echo "Couldn't get libraries";
            fi;
          fi
          ls build -ltraR |egrep -v '\.$|\.\.|\.:|\.\/|total|^d' |sed '/^$/d' || true

      - name: Upload
        uses: "softprops/action-gh-release@v2"
        with:
          tag_name: ${{ needs.build.outputs.release-name }}
          make_latest: ${{ github.event_name == 'push' }}
          generate_release_notes: true
          files: |
            */TiLiA-v*-*
